.Login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background: var(--yellow);
}

.Login-spl-msg {
    font-family: Lobster, cursive;
    color: var(--black);
    text-shadow: var(--text-shadow);
    letter-spacing: 1px;
}

.Login-input {
    margin-bottom: 15px;
    min-width: 400px;
    padding: 9px 12px;
    box-sizing: border-box;
    min-height: 45px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    border: none;
    box-shadow: 2px 5px 15px rgba(0,0,0,0.36);
    border-radius: 3px;
    transition: all 0.15s;
}

.Login-input:focus {
    transform: scale(1.01);
}

.Login-btn {
    min-width: 400px;
    min-height: 45px;
    padding: 9px 12px;
    margin-bottom: 15px;
    border-radius: 3px;
    font-size: 15px;
    background: var(--black);
    color: var(--white);
    text-shadow: var(--text-shadow);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    border: 1px solid var(--black);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.26);
    cursor: pointer;
    transition: all 0.15s;
    outline: none;
}

    .Login-btn:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
    }


.Login-misc-links {
    font-size: 16px;
}

.Login-misc-links a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    text-shadow: none;
    transition: all 0.15s;
}

.Login-misc-links a:hover {
    color: var(--white);
    text-shadow: var(--text-shadow);
}

.Login-misc-links-spl {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.Login-error-message {
    font-size: 17px;
    font-weight: bold;
    color: rgba(255,0,0,0.8);
    text-shadow: var(--text-shadow);
}

@media only screen and (max-width: 500px) {
    .Login-input {
        min-width: 300px;
    }

    .Login-btn {
        min-width: 300px;
    }
}